.header {
    padding: 1px;
    background: #b62be1;
    font-size:20px;
  }
  
  .headerMain {
    text-decoration: none;
    background: #b62be1;
    color: white;
    text-align: left;
    padding-left: 25px;
  }
  
  .headerLink {
    text-decoration: none;
    background: #b62be1;
    color: white;
    text-align: right;
  }
  
  .linkStyle {
    text-decoration: none;
    background: #b62be1;
    color: white;
    text-align: right;
    padding: 15px;
  }